
    <header>
        <div class="menu">
            <div class="menu-btn">Menu</div>
            <div class="cabecalho">
                 <ul >
                <li>Especialidades</li>
                <li>Nosso Trabalho</li>
                <li>Sobre Nós</li>
                <li>Insights</li>
                <li>Prémios</li>
                <li>Contcte-nos</li>
            </ul>
            </div>
           
        </div>
    </header>
    <main>
        <div id="hero">
            <div class="content">
                <h4>AGÊNCIA WEB DESIGN DE TOPO</h4>
                <h1>NÓS CRESCEMOS MARCAS ONLINE</h1>
                <P>Custom Website, Branding and Digital Marketing Solutions</P>
            </div>
            
        </div>
    </main>
    <footer>

    </footer><router-outlet></router-outlet>