@import '../assets/css/fontawesome.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-style: normal;
}

    header{
    padding-bottom: 10px;
    padding-top: 10px;
    }

      header ul{
        display: flex;
        flex-direction: row;
    }
    
    header ul li{
        margin-right: 5px;
        cursor: pointer;
    }

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
}

.cabecalho li{
    margin-left: 20px;
}
ul{
    list-style: none;
}

#hero{
    background-color: rgb(80, 63, 236);
    width: 100%;
    border: 1px solid black;
    
}

#hero h1,h3{
    color: #21001C;
}

 .menu{
        display: flex;
        flex-direction: column;
    }

    .menu li{
        color: #21001C;
    }
    
@media(max-width:767px){

       header ul{
        display: flex;
        flex-direction: column;
    }

    .cabecalho{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.993);
        color: #000000;
        width: 100vw;
    }

     .menu-btn{
        padding: 10px 20px;
        background-color: #eee;
        cursor: pointer;
        display: block;
       
    }

    .menu:hover .cabecalho{
        display: block;
    }

    .menu{
        display: flex;
        flex-direction: column;
    }

}
