
    <header>
        <div class="menu">
            <div class="menu-btn">Menu</div>
            <div class="cabecalho">
                 <ul >
                <li>Especialidades</li>
                <li>Nosso Trabalho</li>
                <li>Sobre Nós</li>
                <li>Insights</li>
                <li>Prémios</li>
                <li>Contcte-nos</li>
            </ul>
            </div>
           
        </div>
    </header>
    <main>
        <div id="banner">
            <h1>SUA MARCA NO LUGAR CERTO, DA MANEIRA CERTA.</h1>
        </div>
    </main>
    <footer>

    </footer><router-outlet></router-outlet>